<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#comments">Comments</button>
<div id="comments" class="collapse in">
<% if !@article.comments.empty? %>
  <%= render @article.comments %>
<% else %>
  <h4> No comments yet! </h4>
<% end %>
</div>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#add_comment">Add Comment</button>
<div id="add_comment" class="collapse">
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p class="form-group">
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter, class: 'form-control col-md-4' %>
    </p>
    <p class="form-group">
      <%= f.label :body %><br>
      <%= f.text_area :body, class: 'form-control col-md-4' %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>

<div class="links">
<%= link_to 'Edit Post', edit_article_path(@article), class: 'btn btn-primary btn-xs' %> |
<%= link_to 'Back', articles_path, class: 'btn btn-primary btn-xs' %>
</div>