<!DOCTYPE html>
<html>
<head>
  <title>Blog World</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="glyphicon glyphicon-home"></i> Blog World
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to articles_path do %> View all posts
            <% end %></li>
          <li><%= link_to new_article_path do %> Add a post
            <% end %></li>
        </ul>
        <div class="col-xs-1 pull-right">
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        </div>
    <% end %>
    </div>
  </div>
</nav>
<div class="row">
  <%= render 'layouts/messages' %>
</div>
<div class="row">
  <div class="col-xs-3">
    <h5>Put down your thoughts. Who knows, it just might be the next talk-of-the-town!</h5>
    <%= image_tag 'keep_calm.png', :size => "260x180" %>
  </div>
  <div class="col-xs-9">
    <%= yield %>
  </div>
</div>
</body>
</html>